@font-face {
    font-family: 'Norse';
    src: url('https://fablefallen.github.io/fablefonts/fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: Norse, sans-serif;
    background-color: #2b2a2a;
    color: #f3b63c;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  button {
    background-color: #f3b63c;
    border: none;
    border-radius: 5px;
    color: #2b2a2a;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #d9a328;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #f3b63c;
    color: #2b2a2a;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .changelog-text {
    animation: fadeIn 2s;
  }
  